@use "../utils/functions" as *;
@use "../layout/screen-size" as *;

.product {
  display: grid;
  grid-template-columns: 1fr;

  position: absolute;
  left: 50%; //rem(13);
  top: 50%; //rem(80);
  transform: translate(-50%, -50%);

  width: rem(350);
  height: rem(750);
  border-radius: rem(8);
  overflow: hidden;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, calc(100% / 2));
    width: rem(600);
    height: rem(456);
  }

  //region image
  &__image {
    display: block;
    width: 100%;
    height: rem(342);

    @include breakpoint(tablet) {
      height: 100%;
      width: rem(300);
    }
  }

  //endregion

  //region content
  &__content {
    display: grid;
    gap: rem(24);
    padding: rem(32);
    background-color: var(--color-product-bg);

  }

  //region text
  &__title {
    display: grid;
    gap: rem(24);
    width: rem(286);
    height: rem(214);

    @include breakpoint(tablet) {
      width: rem(236);
      height: rem(246);
    }

  }

  &__type {
    font-size: var(--font-size-type);
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  //endregion

  //region prices
  &__prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rem(191);
  }

  &__prices-new,
  &__prices-old {
    display: inline-block;
  }

  &__prices-new {
    font-family: var(--font-Fraunces), sans-serif;
    font-size: var(--font-size-price-new);
    font-weight: var(--font-weight-price-new);
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-price-new);
  }

  &__prices-old {
    font-size: var(--font-size-price-old);
    font-weight: var(--font-weight-price-old);
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--color-price-old);
    text-decoration: line-through;
  }

  //endregion

  //region button
  &__add {
    display: flex;
    gap: rem(8);
    justify-content: center;
    align-items: center;
    background-color: var(--color-button-primary-bg);
    color: var(--color-button-primary-text);
    font-weight: var(--font-weight-button-primary);
    font-size: var(--font-size-button-primary);
    padding: rem(16) rem(32);
    border-radius: 8px;
    width: rem(286);
    height: rem(50);
    margin-block-end: rem(32);
    cursor: pointer;
    border: none;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: var(--color-button-primary-hover-bg);
    }

    @include breakpoint(tablet) {
      width: rem(236);
    }
  }

  &__add-icon,
  &__add-text {
    display: inline-block;
  }

  &__add-icon {
    width: rem(18);
    height: rem(18);

    > path {
      fill: var(--color-button-primary-text);
    }
  }

  //endregion

  //endregion
}

